*.bak
*.asv
*.autosave
*.slxc
~*
*.err
*.log

*.pdb

*.results
*.fzp
*.lsa
*.knr
*.rsr
*.att
*.ldp

*.original

**/Debug/*
**/Release/*

**/slprj/*

**/RealSim_tmp/*

**/.vscode/*

**/__pycache__/*

**/x64/*
**/.vs/*

Temp/*

CommonLib/libevent/build/*
CommonLib/yaml-cpp/build/*

CommonLib/slprj/*

ControlLayer/.vs/*
ControlLayer/x64/*
ControlLayer/CoordMerge/x64/*
ControlLayer/PlainController/x64/*
ControlLayer/PlainController_2/x64/*
ControlLayer/PlainController_3/x64/*
ControlLayer/PlainController_4/x64/*
ControlLayer/PlainController_5/x64/*
ControlLayer/PlainController_6/x64/*
ControlLayer/PlainController_7/x64/*
ControlLayer/PlainController_8/x64/*
ControlLayer/PlainController_9/x64/*
ControlLayer/PlainController_10/x64/*
ControlLayer/PlainController_11/x64/*
ControlLayer/PlainController_12/x64/*
ControlLayer/PlainController_13/x64/*
ControlLayer/PlainController_14/x64/*
ControlLayer/PlainController_15/x64/*
ControlLayer/PlainController_16/x64/*
ControlLayer/PlainController_17/x64/*
ControlLayer/PlainController_18/x64/*
ControlLayer/PlainController_19/x64/*
ControlLayer/PlainController_20/x64/*
ControlLayer/test/x64/*
ControlLayer/SpeedHarm/x64/*
TrafficLayer/.vs/*
TrafficLayer/x64/*
TrafficLayer/TrafficLayer/x64/*
TrafficLayer/TrafficLayerInstall/*

VehicleClient/.vs/*
VehicleClient/x64/*
VehicleClient/DummyClient/x64/*
VehicleClient/DummyClient_2/x64/*
VehicleClient/DummyClient_3/x64/*
VehicleClient/DummyClient_4/x64/*
VehicleClient/DummyClient_5/x64/*
VehicleClient/DummyClient_6/x64/*
VehicleClient/DummyClient_7/x64/*
VehicleClient/DummyClient_8/x64/*
VehicleClient/DummyClient_9/x64/*
VehicleClient/DummyClient_10/x64/*
VehicleClient/DummyClient_11/x64/*
VehicleClient/DummyClient_12/x64/*
VehicleClient/DummyClient_13/x64/*
VehicleClient/DummyClient_14/x64/*
VehicleClient/DummyClient_15/x64/*
VehicleClient/DummyClient_16/x64/*
VehicleClient/DummyClient_17/x64/*
VehicleClient/DummyClient_18/x64/*
VehicleClient/DummyClient_19/x64/*
VehicleClient/DummyClient_20/x64/*
VISSIMserver/.vs/*
VISSIMserver/x64/*
VISSIMserver/Lib/*
VISSIMserver/Temp/*
VISSIMserver/bin/*
VISSIMserver/DriverModel_RealSim/x64/*
VISSIMserver/DriverModel_RealSim/Release/*
VISSIMserver/SC_DLL_RealSim/obj/*
VISSIMserver/quickDebug/*

VISSIMfiles/*.results
*DriverModelError.txt
*DriverModelLog.txt
VISSIMfiles/*.fzp
VISSIMfiles/*.lsa


ControlLayer/CoordMerge/tempLog.txt
SUMOfiles/coordMerge_v1_paper.xml

SUMOfiles/ACM_coordMerge_v2.xml
SUMOfiles/ACM_coordMerge_v2.csv


**/archive/*
CommonLib/test.slx

CommonLib/testtest.slx

Communications/.vs/*
Communications/x64/*
Communications/Lib/*
Communications/Temp/*
Communications/bin/*
Communications/SimpleModel/x64/*


CommonLib/test*

SUMOfiles/UA network/UAdemoRealSim_Final.csv
SUMOfiles/UA network/UAdemoRealSim_Final.xml
CommonLib/debug.txt

tests/CoordMerge/coordMerge.csv
tests/CoordMerge/coordMerge.xml
SignalController/testtraci.py
tests/CoordMerge/tempLog.txt
tests/SumoDriver/osm_out.csv
tests/SumoDriver/osm_out.xml


CM*_proj/src/app_tmp.c
CM*_proj/src/Release/*
CM*_proj/src/Debug/*
CM*_proj/src_cm4sl/app_tmp.c
CM*_proj/src_cm4sl/Debug/*
CM*_proj/src_cm4sl/Release/*
CM*_proj/src/.settings/*
CM*_proj/src_cm4sl/.settings/*
CM*_proj/src/.**
CM*_proj/src_cm4sl/.**
CM*_proj/SimOutput/*
CM*_proj/Movie/.road_cache/*
tests/SpeedLimit/Untitled.m
tests/ChattShallowford/vissim/PM/_RBCLog.txt
CM*_proj/**/app_tmp.c
CM*_proj/**/Debug/*
CM*_proj/**/Release/*

**/app_tmp.c
**/.version_win64
**/.version_dsrt

**/.vs/*
tests/DelayedConnection/coordMerge.xml
CM11_proj/tmp.obj
