/*==========================================================================*/
/*  lsa_rahm.rc                                                             */
/*                                                                          */
/*  Resource module of a signal controller DLL for VISSIM (German version). */
/*                                                                          */
/*  Version of 2004-12-14                                   Lukas Kautzsch  */
/*==========================================================================*/

#include <windows.h>
#include "lsa_rahm.rh"

STRINGTABLE
{
 IDS_ERR_FILE_PREFIX, "lsa"
 IDS_ALLGEMEINER_FEHLER, "Allgemeiner Fehler"
 IDS_INTERNER_FEHLER, "Interner Fehler"
 IDS_FUNKTION, "Funktion"
 IDS_GRUND, "Grund"
 IDS_UNZULAESSIGE_NR, "Unzulässiger Parameter <nr>"
 IDS_UNBEKANNTE_FEHLERNR, "Unbekannte Fehlernummer"
 IDS_PROG_ABGEBROCHEN, "Steuerungsprogramm Nr. %d abgebrochen.\n"
 IDS_LSA, "LSA"
 IDS_SGPNR_UNZULAESSIG, "Signalgruppennummer %lu unzulässig!"
 IDS_SGPNR_UNBEKANNT, "Signalgruppennummer %lu unbekannt!"
 IDS_VISSIM_SGPNR_UNBEK, "VISSIM-Signalgruppennummer %lu unbekannt!"
 IDS_DETNR_UNZULAESSIG, "Detektornummer %lu unzulässig!"
 IDS_DETNR_UNBEKANNT, "Detektornummer %lu unbekannt!"
 IDS_VISSIM_DETNR_UNBEK, "VISSIM-Detektornummer %lu unbekannt!"
 IDS_LOOK_AT_ERR_FILE, "In der LSA-Steuerungs-DLL %s sind Laufzeitwarnungen aufgetreten. Siehe %s.err!\n"
 IDS_KEIN_SPEICHER, "Vorhandener Speicher reicht nicht aus!"
 IDS_UNBEKANNTES_SIGNALBILD, "Unbekanntes Signalbild"
 IDS_PUFFERENDE, "Unerwartetes Pufferende"
 IDS_LSA_DEMO, "Steuerungsprogramm nur Demoversion!"
 IDS_UNZUL_KOMMANDO, "Unzulässiges Kommando"
 IDS_TRIPEL_SCHREIBEN, "Datentripel ließ sich nicht schreiben."
 IDS_DDE_INITIALISIERUNG, "Die DDE-Schnittstelle ließ sich nicht initialisieren."
 IDS_ZUWENIGE_PARAMETER, "Zuwenige Kommandozeilenparameter"
 IDS_UEBER, "&Über"
 IDS_WIRKLICH_BEENDEN, "Sie wollen %s beenden. Bei einer laufenden Simulation kann das System instabil werden. Soll %s wirklich beendet werden?"
 IDS_OPEN_ERR_FILE, "Die Fehlermeldungsdatei %s ließ sich nicht öffnen. Folgende Meldung sollte geschrieben werden:\n%s"
 IDS_WRITE_ERR_FILE, "Fehler beim Schreiben in die Fehlermeldungsdatei %s. Folgende Meldung sollte geschrieben werden:\n%s"
 IDS_TOO_MANY_DET, "Zu viele Detektoren (maximal %lu möglich)."
 IDS_TOO_MANY_SG, "Zu viele Signalgruppen (maximal %lu möglich)."
}

/*==========================================================================*/
/*  End of lsa_rahm.rc                                                      */
/*==========================================================================*/
